@use '../abstracts/' as *;

/* Cards */

.card {
  --gap: 3rem;
  color: hsl(var(--clr-dark));
  padding: 1rem;
  border: 1px solid hsl(var(--clr-light-grey));
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  display: block;
  border-radius: 1rem;
  overflow: scroll; /* needed to make bottom corners rounded due to card-content */
  transition: transform 500ms ease;

  &:hover {
    transform: scale(1.05);
  }

  &__details {
    padding-block: 1rem;
  }

  img {
    padding: 1rem;
  }
}
