@use '../abstracts/' as *;

/* Forms */

form {
  width: 70%;
}

.form__group {
  padding: 0.5em;
}

.form__submit {
  background-color: hsl(var(--clr-accent));
  color: #ffffff;
  width: 130px;
  height: 50px;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 10px;
  border: none;
  transition: transform 500ms ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: hsl(var(--clr-accent), 0.7);
    transform: scale(1.05);
  }
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid hsl(var(--clr-dark));
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
  color: hsl(var(--clr-dark));
  font-family: var(--ff-sans-normal);
  font-size: 1.1rem;
}
